<nav>
    <a href='/'><h1>ActorBase</h1></a>
   <div id='navAdd'> 
       <a class='hover' href='/new'>Add An Actor</a> 
        <a class='hover' href='/users/new'>Sign Up</a>
        <a class='hover' href='/sessions/new'>Log In</a>
        <% if (currentUser){ %>
        <p><%= currentUser.username %></p>
        <% } %>
    </div>
</nav>