<nav>
    <a href='/'><div class="logo"><h1 class=>ActorBase</h1></div></a>
   <ul> 
       <li><a class='hover' href='/new'>Add An Actor</a></li>
       <% if (currentUser){ %>
        <li><form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" id="logOut"/>
          </form></li>
        <% } else { %>
        <li><a class='hover' href='/users/new'>Sign Up</a></li>
      <li><a class='hover' href='/sessions/new'>Log In</a></li>
       <% } %>
        </ul>
</nav>