@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: antiquewhite;
    font-family: "Montserrat";
}

nav, main {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    max-width: 900px;
    margin-bottom: 2em;
}

main {
    padding: 1em 0 .5em 0;
}

.indexMain {
    text-align: center;
    padding: 1em 0 .5em 0;
}

nav {
    margin-bottom: 2em;
}

img {
    width: 150px; 
}

h1 {
    padding: 15px;
}

.indexActor {
    display: inline-block;
    margin: 8px;
}

#actorImg {
    width: 80%;
}

.left, .right {
    width: 48%;
}

.left {
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actorMain {
    display: flex;
}

a, a:visited {
    text-decoration: none;
    color: black
}