@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #dde3ed;
    font-family: "Montserrat";
}

nav, main {
    width: 80%;
    margin: auto;
    max-width: 900px;
}

nav {
    max-width: 800px;
}

main {
    padding: 1em 0 .5em 0;
    margin-bottom: 2em;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

p {
    color: black;
}

img {
    border: 1px solid grey;
}

.hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* NAV */
nav {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
}

h1 {
     padding: 15px;
    text-decoration: underline;
    position: relative;
    top: 4px; 
}

ul li{
    list-style: none;
    display: inline-block;
     padding: 2em; 
}

#logOut {
    outline: none;
}

/* INDEX */
#actorImageIndex {
    width: 180px;
    margin-bottom: 1em;
}

.indexActor {
    display: inline-block;
    margin: 8px;
    border: 1px solid grey;
    background: white;
    padding: 2em 2em 1em 2em;
}

.indexActor p {
    margin: 0;
}

.indexMain {
    text-align: center;
    /* padding: 1em 0 .5em 0; */
}
/* SHOW */

h2 {
    font-size: 20px;
}

.actorMain {
    display: flex;
    background: white;
    border: 1px solid grey;
    padding-top: 1em;
    max-width: 800px;
    /* justify-content: space-around; */
}

#actorImg {
    width: 60%;
    margin: 0 auto;
    margin-top: 1em;
}

.left, .right {
    width: 48%;
}

.left {
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}

.right p {
    margin-top: 2em;
}

.edit {
    background: white;
    border: 1px solid grey;
    padding: .5em 1.5em .5em 1.5em;
}

.actorButtons {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 60%;
    max-width: 500px;

}
#deleteButton {
    font-weight: bold;
    background: white;
    border: 1px solid grey;
    padding: .5em 1em .5em 1em;
}

/* FORM */
input[type="text"],input[type="password"] {
    width: 100%;
    margin: auto;
}

input[type="submit"]{  /*This affects edit, update, and delete*/
    border: none;
    font-family: "Montserrat";
    font-size: 1em;
    background: none;
    color: black;
}

#submitButton {
    padding: .5em 1em .5em 1em;
    border: 1px solid grey;
    background: white;
}

.formHeader {
    text-align: center;
    color: black;
}

textarea {
    width: 100%;
    height: 120px;
    margin: auto;
}

label{
    width:40%;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.formDiv {
    margin: auto;
    width: 40%;
}

#formSubmitDiv {
    text-align: center;
    margin-bottom: .5em;
}

