@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: antiquewhite;
    font-family: "Montserrat";
}

nav, main {
    border: 1px solid black;
    width: 80%;
    margin: auto;
    max-width: 900px;
    margin-bottom: 2em;
}

main {
    padding: 1em 0 .5em 0;
}

a, a:visited {
    text-decoration: none;
    color: black
}

/* NAV */
nav {
    margin-bottom: 2em;
}

nav h1,nav a {
    display: inline-block
}

h1 {
    padding: 15px;
}

/* INDEX */
img {
    width: 150px; 
}

.indexActor {
    display: inline-block;
    margin: 8px;
}

.indexMain {
    text-align: center;
    padding: 1em 0 .5em 0;
}
/* SHOW */
.actorMain {
    display: flex;
}
#actorImg {
    width: 80%;
}

.left, .right {
    width: 48%;
}

.left {
    text-align: center;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.actorButtons {
    display: flex;
    justify-content: space-around;
}
/* FORM */
input[type="text"] {
    width: 100%;
    margin: auto;
    max-width: 250px;
}



textarea {
    width: 100%;
    height: 80px;
    margin: auto;
}

label{
    width:40%
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.formDiv {
    margin: auto;
    width: 40%;
}

#formSubmit {
    text-align: center;
    margin-bottom: .5em;
}